<!DOCTYPE html>
<html>
<head>
	<title>Angular Test</title>
	<script type="text/javascript" src="angular.min.js"></script>
	
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl"> 

<h1>{{myWelcome}}</h1>

</div>


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http, $interval) {

    $interval(function () {
      $http.get("refresh_source.php").then(function (response) {
      $scope.myWelcome = response.data;
  });
  }, 1);
    
  
});
</script>

</body>
</html>
