<!DOCTYPE html>
<html>
<head>
	<title>Angular Test</title>
	<script type="text/javascript" src="angular.min.js"></script>
	
</head>
<body>

<div ng-app="myApp" ng-controller="namesCtrl">
<input type="text" name="" ng-model="search">
<ul>
  <li ng-repeat="x in names | filter : search">
    {{ x }}
  </li>
</ul>

</div>

<script>
angular.module('myApp', []).controller('namesCtrl', function($scope) {
    $scope.names = [
        'Jani',
        'Carl',
        'Margareth',
        'Hege',
        'Joe',
        'Gustav',
        'Birgit',
        'Mary',
        'Kai'
    ];
});
</script>

<p>This example displays only the names containing the letter "i".</p>

</body>
</html>
