<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

<p>Select a car:</p>

<select ng-model="selectedCar" ng-options="x for (x, y) in cars">
</select>

<h1>You selected: {{selectedCar.brand}}</h1>

<select ng-model="selectedColor" ng-options="x for x in selectedCar.color">
</select>


</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.cars = {
        car01 : {brand : "Ford", color :["red","green"]},
        car02 : {brand : "Fiat", color :["black", "white"]}
    }
});
</script>

</body>
</html>